.crewSection {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.heading {
    grid-row: 1;
}

.crewImageContainer {
    grid-column: 2;
    grid-row: 2;
}

.crewSelectorCopyGroup {
    grid-column: 1;
    grid-row: 2;
}

.crewSelector {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .crewSelectorPoint {
        border-radius: 50%;
        background-color: rgba(255,255,255,0.17);
    }

    .crewSelectorPoint:hover {
        background-color: rgba(255,255,255,0.5);
    }

    .active {
        background-color: rgba(255,255,255,1) !important;
    }
}

@media screen and (max-width: 768px) {
    .crewSection {
        display: flex;
        flex-direction: column-reverse;
    }

    .heading {
        order: 1;
        color: rgba(255,255,255,1);
        text-transform: uppercase;
        margin-left: 38px;
        margin-top: 24px;

        span {
            font-weight: 700;
            color: rgba(255,255,255,0.25);
            padding-right: 16px;
        }
    }

    .crewSelectorCopyGroup {
        display: flex;
        flex-direction: column-reverse;
    }

    .crewCopy {
        text-align: center;
        margin-top: 60px;
        margin-left: 155px;
        margin-right: 155px;

        h4 {
            font-size: 24px;
            line-height: 27.5px;
            color: rgba(255,255,255,0.5);
        }

        h3 {
            margin-top: 8px;
            font-size: 40px;
            line-height: 46px;
            color: rgba(255,255,255,1);
        }

        p {
            margin-top: 16px;
        }
    }

    .crewSelector {
        height: 10px;
        width: 88px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;

        .crewSelectorPoint {
            height: 10px;
            width: 10px;
        }
    }

    .crewImageContainer {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        // order: 4;

        .crewImage {
            height: 572px;
        }
    }
}

@media screen and (max-width: 425px) {
    .crewSection {
        display: block
    }

    .crewSelectorCopyGroup {
        display: block;
    }

    .heading {
        margin-left: unset;
        text-align: center;
        letter-spacing: 2.7px;
        margin-top: unset;
    }

    .crewImageContainer {
        margin-top: 32px;
        border-bottom: 1px solid #383B4B;

        .crewImage {
            margin-top: unset;
            height: 222px;
            width: 162px;
        }
    }

    .crewSelector {
        margin-top: 32px;
        .crewSelectorPoint {
            height: 10px;
            width: 10px;
        }
    }

    .crewCopy {
        margin-top: 32px;
        margin-left: unset;
        margin-right: unset;

        h4 {
            font-size: 16px;
            line-height: 18.34px;
        }

        h3 {
            font-size: 28px;
            line-height: 27.5px;
        }

        p {
            margin-top: 16px;
        }
    }
}