.destinationSection {
    display: flex;
    flex-direction: column;
}

.menuSelection {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;

    .active {
        border-color: rgba(255,255,255,1) !important;
        color: rgba(255,255,255,1);
    }
    
    ul {
        display: flex;
        list-style: none;
        padding: 0;

        li {

            button {
                border-bottom: 3px solid rgba(255,255,255,0);
            }

            button:hover {
                border-color: rgba(255,255,255,0.5);
            }
        }
        li:first-of-type {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 425px) {
    .destinationSection {
        // To be filled with flex-direction either in higher breakpoint or here
    }

    .headingPlanet {
        display: flex;
        flex-direction: column;
        align-items: center;

        .heading {
            text-align: center;
            letter-spacing: 2.7px;
            h5 {
                color: rgba(255,255,255,1)
            }
            span {
                padding-right: 18px;
                font-weight: 700;
                color: rgba(255,255,255,0.25);
            }
        }

        .planet {
            margin-top: 32px;
            height: 170px;
            width: 170px;
        }
    }

    .menuSelection {
        margin-top: 26px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2.3px;
        ul {
            justify-content: center;

            li {
                margin-left: 26px;
                
                button {
                    color: #D0D6F9;
                    padding-bottom: 8px;
                    cursor: pointer;
                }
            }
        }
    }

    .destinationCopy {
        margin-top: 20px;
        text-align: center;
        h1 {
            font-size: 56px;
            line-height: 64px;
            text-transform: uppercase;
        }
    }

    .destinationStats {
        border-top: 1px solid rgba(255,255,255,0.25);
        margin-top: 32px;
        
        .stat {
            padding-top: 32px;
            text-align: center;
            h4 {
                margin-top: 12px;
                font-size: 28px;
                line-height: 32px;
            }

            h5 {
                font-size: 14px;
                letter-spacing: 2.36px;
            }
        }
    }
}