.main {
    display: flex;
}

@media screen and (max-width: 768px) {
    .main {
        margin-top: 106px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 625px) {
    .main {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 425px) {
    .main {
        margin-top: unset;
        margin-left: 24px;
        margin-right: 24px;
        align-items: unset;
    }
}





