.navButton {
    display: none;
}

@media screen and (max-width: 425px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding-left: 24px;
        padding-right: 24px;
    
        .navButton {
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .logo {
            height: fit-content;
        }
    
        .hamburgerOpen {
            height: fit-content;
        }
    
        .hamburgerClosed {
            display: none;
            height: fit-content;
        }
    }
}



