.nav {
    display: flex;
    height: 96px;
    margin-left: 56px;
    align-items: center;
    justify-content: space-between;

    .line {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        width: 100%;
        z-index: 1;
        margin-left: 64px;
        margin-right: -48px;
    }
}

.navButton {
    display: none;
}

.navMenu {
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(255,255,255, 0.04);
    backdrop-filter: blur(81.5485px);
    padding-left: 125px;
    padding-right: 125px;
    color: rgba(255,255,255, 1);

    a {
        margin-left: 32px;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 3px solid transparent;
        box-sizing: border-box;
        span {
            font-weight: bold;
            margin-right: 11px;
        }
    }
    a:hover {
        border-color: rgba(255,255,255,0.5);
    }

    .selected {
        border-color: rgba(255,255,255,1);
    } 

    a:first-of-type {
        margin-left: 0;
    }
}

@media screen and (max-width: 1024px) {
    .line {
        display: none;
    }
    .navMenu {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        margin-left: 40px;
    }

    .navMenu {
        padding-left: 40px;
        padding-right: 40px;

        span {
            display: none;
        }
    }
}

@media screen and (max-width: 625px) {
    .nav {
        margin-right: 40px;
    }

    .navButton {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .navMenu {
        display: none;
    }

    .hamburgerOpen {
        height: 32px;
    }

    .hamburgerClosed {
        display: none;
        height: 32px;
    }
}


@media screen and (max-width: 425px) {
    .nav {
        height: 64px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        margin-left: unset;
        margin-right: unset;

        .logo {
            height: 40px;
        }

        .hamburgerOpen {
            height: fit-content;
        }

        .hamburgerClosed {
            height: fit-content;
        }
    }
}