.technologySelect {
    .selectButton {
        border-radius: 50%;
        border: 1px solid rgba(255,255,255,0.25);
        text-align: center;
        cursor: pointer;
    }

    .selectButton:hover {
        border-color: rgba(255,255,255,1);
    }

    .active {
        background-color: rgba(255,255,255,1);
        h4 {
            color: rgba(0,0,0,1);
        }
    }
}

@media screen and (max-width: 768px) {
    .heading {
        margin-left: 40px;
        margin-top: 40px;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        color: rgba(255,255,255,1);

        span {
            padding-right: 16px;
            font-weight: 700;
            color: rgba(255,255,255,0.25);
        }
    }

    .imageContainer {
        margin-top: 60px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .technologySelect {
        display: flex;
        justify-content: space-between;
        width: 210px;
        margin-top: 56px;
        margin-left: auto;
        margin-right: auto;

        .selectButton {
            width: 60px;
            height: 60px;
        }
    }

    .technologyCopy {
        width: 458px;
        margin-top: 44px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        h5 {
            font-size: 16px;
        }

        h3 {
            margin-top: 16px;
            font-size: 40px;
            line-height: 45.84px;

            text-transform: uppercase;
            color: rgba(255,255,255,1);
        }

        p {
            margin-top: 16px;
        }
    }
}

@media screen and (max-width: 425px) {
    .heading {
        margin-left: unset;
        text-align: center;
    }

    .imageContainer {
        margin-top: 32px;
        height: 170px;
    }

    .technologySelect {
        width: 152px;
        margin-top: 32px;

        
        .selectButton {
            height: 40px;
            width: 40px;
        }
    }

    .technologyCopy {
        width: unset;
        margin-top: 26px;
        margin-left: 24px;
        margin-right: 24px;
        h3 {
            margin-top: 8px;
            font-size: 24px;

            line-height: 27.5px;
        }

        h5 {
            font-size: 14px;
        }
    }

}